<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Hardware</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>This site is being served by an old machine that I keep running as a hobby server. Cost is low (electricity) and the added
            benefit is a learning experience for me.</p><p>I also happen to be lucky enough to own a condo in a new complex with
            fibre to the home (FTTH) provided by Shaw. This gives me a very respectable 150 Mbps down and 15 Mbps up, though
            I can scale this up to 1000 Mbps down and 50 Mbps up should I desire.</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <a href="http://beta.speedtest.net/result/6574660585"><img src="http://beta.speedtest.net/result/6574660585.png"/></a>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Part</th>
          <th>Model</th>
          <th><span class="glyphicon glyphicon-new-window"></span> Link</th>
        </tr>
        <tr>
          <td>CPU</td>
          <td>Intel Core 2 Quad Q6600</td>
          <td><a href="http://ark.intel.com/products/29765/Intel-Core2-Quad-Processor-Q6600-8M-Cache-2_40-GHz-1066-MHz-FSB" target="_blank">ark.intel.com</a></td>
        </tr>
        <tr>
          <td>RAM</td>
          <td>8GB</td>
          <td></td>
        </tr>
        <tr>
          <td>HDD</td>
          <td>Samsung 850 EVO</td>
          <td><a href="http://www.samsung.com/semiconductor/minisite/ssd/product/consumer/850evo.html" target="_blank">samsung.com</a></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Software</div>
      <div class="panel-body"><p>I have leveraged a number of different languages, frameworks, libraries, and engines to make the various projects on
        this server possible.</p><p>Over the years I have learned a lot about Linux and running a machine exclusively from
        a command line (Ubuntu Server, Minecraft Server), building games using a common engine (Unity), and developing modern
        websites (Angular, Bootstrap, etc.).</p>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Role</th>
          <th>Software</th>
          <th><span class="glyphicon glyphicon-new-window"></span> Link</th>
        </tr>
        <tr>
          <td>Operating System</td>
          <td>Ubuntu Server 16.04.3 LTS</td>
          <td><a href="https://www.ubuntu.com/server" target="_blank">ubuntu.com</a></td>
        </tr>
        <tr>
          <td>Minecraft Server</td>
          <td>Minecraft Server</td>
          <td><a href="https://minecraft.net/en-us/download/server" target="_blank">minecraft.net</a></td>
        </tr>
        <tr>
          <td>Minecraft Mapping</td>
          <td>Minecraft Overviewer</td>
          <td><a href="https://overviewer.org/" target="_blank">overviewer.org</a></td>
        </tr>
        <tr>
          <td>Web Server</td>
          <td>NGINX</td>
          <td><a href="https://www.nginx.com/" target="_blank">nginx.com</a></td>
        </tr>
        <tr>
          <td>Web App Scaffold</td>
          <td>Angular CLI</td>
          <td><a href="https://cli.angular.io/" target="_blank">cli.angular.io</a></td>
        </tr>
        <tr>
          <td>Web App Framework</td>
          <td>Angular</td>
          <td><a href="https://angular.io/" target="_blank">angular.io</a></td>
        </tr>
        <tr>
          <td>Web App Front End Framework</td>
          <td>Bootstrap 3.3</td>
          <td><a href="https://getbootstrap.com/docs/3.3/" target="_blank">getbootstrap.com</a></td>
        </tr>
        <tr>
          <td>Game Engine</td>
          <td>Unity 2017.1.0</td>
          <td><a href="https://unity3d.com/unity" target="_blank">unity3d.com</a></td>
        </tr>
        <tr>
            <td>Code Repository</td>
            <td>GitHub</td>
            <td><a href="https://github.com/shakurass?tab=repositories" target="_blank">github.com</a></td>
          </tr>
      </table>
    </div>
  </div>
</div>
