<div class="jumbotron">
  <h1>rfurman</h1>
  <p>Welcome to my corner of the web. Some odds and ends around here.</p>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Demon Shanker 2</div>
      <div class="panel-body">
        <strong>Created for a Ludum Dare 29. Built with Unity by a team of 5, with me sharing design and coding duties.</strong>
        <br />This is no ordinary hobo, his name is Demon Shanker! Only Demon Shanker can see demons for what they truly
        are. Take a swig to activate vodka vision and let the shankin' begin. Keep on shankin' until you run out of vodka
        but be careful, shankin' too many humans may draw attention to yourself...
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-justified" role="group">
          <a class="btn btn-default" href="http://ludumdare.com/compo/ludum-dare-29/?action=preview&uid=37215" target="_blank"><span class="glyphicon glyphicon-new-window"></span> Ludum Dare Entry</a>
          <a class="btn btn-default" href="/games">Play</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">MC Map</div>
      <div class="panel-body">
        This machine hosts a vanilla Minecraft server for friends and family. Overviewer is used to render maps of the world using
        Google Maps API. I have two Cron jobs that render differences in the base map layers every hour and POIs of players
        and other in game objects every 5 minutes.
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-justified" role="group">
          <a class="btn btn-default" href="/assets/mcmap">Map</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">TODO</div>
      <div class="panel-body">
        I plan on adding the following to this site in the future:
      </div>
      <ul class="list-group">
        <li class="list-group-item">Create a CV page</li>
        <li class="list-group-item">Contribute to <a href="https://github.com/overviewer/Minecraft-Overviewer/pull/1311" target="_blank">Leaflet Overviewer pull request <span class="glyphicon glyphicon-new-window"></span></a> for integration with this site</li>
      </ul>
    </div>
  </div>
</div>
